.content {
    display: flex;
    justify-content: space-around;
    color: wheat;
    width: 100%;
}

.content a {
    text-decoration: none;
    color: #53ff53;
}

.contentCol1 {
    text-align: justify;

}

.w100{
    width: 100%;
}

.contentCol2 {
    width: 600px;
    text-align: justify;

}
.contentCol2 ul{
padding: 0px;
}
.contentCol2 h3,
.contentCol2 h2,
.contentCol2 p{
    padding: 10px;
    }
.list {
    font-size: large;
    list-style-type: none;
    padding: 0;
}

.icon {
    color: #53ff53;
    font-size: xx-large;
}

@media (max-width: 1200px) {
    .content {
        display: block;
        justify-content: center;
        margin: auto auto;
        align-items: center;
        color: wheat;
        margin: 0px;
        padding: 0px;
    }

    .contentCol1 {
        width: fit-content;
        margin: 0 auto;
        text-align: justify;
    }

    .contentCol2 {
        width: fit-content;
        text-align: justify;
        margin: 0 auto;

    }
}